@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&&family=Geist&display=swap');
@import 'tailwindcss';

@theme {
	--font-outfit: Outfit, sans-serif;
	--font-geist: Geist, sans-serif;

	--color-primary: #1a41ca;
	--color-secondary: #7beac1;
	--color-tertiary: #444444;
}

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}

	html,
	body {
		@apply bg-gray-100 text-gray-700 text-sm md:text-base font-light font-geist;
	}

	h1 {
		@apply text-4xl text-primary font-outfit font-semibold tracking-tight;
	}

	p {
		@apply leading-relaxed text-pretty;
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		@apply cursor-pointer;
	}
}
